openapi: 3.2.0
info:
  title: Shippit Book API
  description: The Shippit API (v3) is the REST interface to Shippit's Australian multi-carrier shipping and fulfillment platform.
  version: '3'
  contact:
    name: Shippit Developer Centre
    url: https://developer.shippit.com/
  x-fidelity: Base URLs, Bearer auth, and the tracking path are confirmed from docs; other request/response schemas are modeled and should be reconciled.
servers:
- url: https://app.shippit.com/api/3
  description: Production
- url: https://app.staging.shippit.com/api/3
  description: Staging (sandbox)
security:
- bearerAuth: []
tags:
- name: Book
  description: Initiate carrier bookings for orders.
paths:
  /book:
    post:
      operationId: bookOrders
      tags:
      - Book
      summary: Book orders with carriers
      description: Initiates a booking with the respective carriers for an array of orders, producing consignments and enabling label generation. MODELED request/response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookRequest'
      responses:
        '200':
          description: Booking result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    BookRequest:
      type: object
      description: MODELED booking request - an array of order tracking numbers to book.
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              tracking_number:
                type: string
    BookResponse:
      type: object
      description: MODELED booking response.
      properties:
        response:
          type: object
          properties:
            job_id:
              type: string
            state:
              type: string
            tracking_numbers:
              type: array
              items:
                type: string
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid Bearer API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-merchant API key (referred to as the API Secret) passed as `Authorization: Bearer YOUR_API_KEY`. Obtain the key from the Shippit merchant dashboard; use a staging key against the staging base URL.'
