openapi: 3.2.0
info:
  title: Shippit Label API
  description: The Shippit API (v3) is the REST interface to Shippit's Australian multi-carrier shipping and fulfillment platform.
  version: '3'
  contact:
    name: Shippit Developer Centre
    url: https://developer.shippit.com/
  x-fidelity: Base URLs, Bearer auth, and the tracking path are confirmed from docs; other request/response schemas are modeled and should be reconciled.
servers:
- url: https://app.shippit.com/api/3
  description: Production
- url: https://app.staging.shippit.com/api/3
  description: Staging (sandbox)
security:
- bearerAuth: []
tags:
- name: Label
  description: Retrieve shipping labels and documents for an order.
paths:
  /label/{tracking_number}:
    parameters:
    - $ref: '#/components/parameters/TrackingNumber'
    get:
      operationId: getLabel
      tags:
      - Label
      summary: Retrieve label documents
      description: Returns a URL to the shipping documents for an order - A6 PDF label, A4 pick slip, optional ZPL, dangerous goods, and commercial invoice. MODELED response.
      responses:
        '200':
          description: A reference to the label documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Bearer API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
    LabelResponse:
      type: object
      description: MODELED label response.
      properties:
        response:
          type: object
          properties:
            tracking_number:
              type: string
            qualified_url:
              type: string
              description: URL to the generated label / documents.
            label_url:
              type: string
  parameters:
    TrackingNumber:
      name: tracking_number
      in: path
      required: true
      description: The Shippit tracking number identifying the order.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-merchant API key (referred to as the API Secret) passed as `Authorization: Bearer YOUR_API_KEY`. Obtain the key from the Shippit merchant dashboard; use a staging key against the staging base URL.'
